* {
    box-sizing: border-box;
}

body {
    background-color: red;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #4e618a;
    color: rgb(70, 70, 73);
    background-image: url(south.jpg);
    background-position: right;
    background-repeat: no-repeat;
    line-height: 400%;
    text-indent: 1em;
    padding-right: 2em;
    padding-top: 15em;
}

header a {
    text-decoration: none;
}

header a:link {
    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF
}

header a:hover {
    color: #90C7E3
}

nav {
    background-color: #d0dfee;
    font-weight: bold;
    padding: 1.5em;
    float: right;
    width: 200px;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav a:link {
    color: #0c76e0;
}

nav a:visited {
    color: #344873
}

nav a:hover {
    color: #A52A2A
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
    background-color: lightcyan;
    margin-left: 0px;
    overflow: auto;
    background-image: linear-gradient(to bottom, #90c7e3, darkred);
}

main ul {
    list-style-image: none;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0;
}

h2 {
    color: #041d36;
    font-family: Georgia, "Times New Roman", serif;
}

h3 {
    font-family: Georgia, "Times New Roman", serif;
    color: #0808f1e8;
}

p {
    color: #08090a;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: .75em;
    font-family: Georgia, "Times New Roman", serif;
}

#contact {
    font-size: 90%;
}

#wrapper {
    width: 80%;
    background-color: #90C7E3;
    box-shadow: 3px 3px 3px #333333;
    min-width: 960px;
    max-width: 2048px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000033;
    background-image: linear-gradient(to bottom, #90c7e3, darkred);
}

section {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

table {
    border: 4px solid #3399cc;
    border-collapse: collapse;
}

.text {
    text-align: left;
}

td,
th {
    border: 4px solid #3399cc;
    padding: 1em;
}
tr{
    background-color: teal;
}

td {
    text-align: center;
}

tr:nth-last-of-type(odd) {
    background-color: #BDDFF0;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right: 5px;
}

input {
    display: block;
    margin-bottom: 20px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

input[type="submit"] {
    margin-left: 140px;
}